/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/

/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

/*---------------------------------------------------------------
4.0 Inner Sections
---------------------------------------------------------------*/

/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/

.wrapper {
    overflow-x: hidden;
}

ul,
ol {
    padding: 0;
    margin-bottom: 0;
}

ol {
    margin-left: 1.1em;
}

address {
    margin-bottom: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.center-block {
    float: none;
}


/*---------- Heading ----------*/

h1 {
    font-size: 55px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    font-weight: 700;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #020201;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 28px;
}

span {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption,
    {
    word-break: break-word;
    word-wrap: break-word;
}

/*---------- Form ---------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: #dda631;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    padding: 8px 15px;
    border: 1px solid #dda631;
    transition: all 0.3s ease-in-out 0s;
    text-transform: capitalize;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
}

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #fff;
    border: 1px solid #dda631;
    color: #dda631;
}

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: 0;
}

input[type="text"] {
    text-transform: capitalize;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
.form-control {
    border: 1px solid #bababa;
    color: #020201;
    padding: 20px;
    width: 100%;
    border-radius: 0;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
    vertical-align: middle;
    height: 55px;
    line-height: 55px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus {
    outline: 0;
    border-color: #dda631;
    box-shadow: none;
}

label {
    font-size: 14px;
    color: #3b3b3f;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

select {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    border: 1px solid #cccccc;
    height: 50px;
    outline: medium none;
    padding: 6px 12px;
    text-indent: 1px;
    text-transform: none;
    width: 100%;
    background: rgba(255, 255, 255, 1) url("./assets/images/select-arrow.png") no-repeat scroll 96% center;
}

select option {
    padding: 4px;
}

.slick-slide {
    outline: none;
}

.form-control::-moz-placeholder {
    color: #020201 !important;
}

.form-control::-webkit-input-placeholder {
    color: #020201 !important;
}

/*---------- 2.1.3 Links ----------*/

a {
    transition: all 0.5s ease 0s;
    font-family: 'Lato', sans-serif;
}

a:hover,
a:active,
a:focus {
    outline: 0;
    text-decoration: none;
    color: #dda631;
}

/*---------- 2.2 Table -----------*/

table,
th,
td {
    border: 1px solid #c9c9c9;
}

table {
    width: 100%;
}

th,
td {
    padding: 0.4375em;
}

table,
dd,
address {
    margin: 0 0 1.75em;
}

/*----- Custom Classes -----*/

.j-content {
    justify-content: space-between;
}

.align-center {
    align-self: center;
}

.mrgn-btm-xs {
    margin-bottom: 30px;
}

.mrgn-btm-sm {
    margin-bottom: 50px;
}

.mrgn-btm-lg {
    margin-bottom: 70px;
}

.bdr-grey {
    border: 1px solid #d4d4d4;
}

.overlay-holder {
    display: inline-block;
    height: auto;
    padding: 10px;
    vertical-align: middle;
    width: 97%;
}

/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

/*----- Header-Top -----*/

.logo-wrap {
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 16px;
    width: 130px;
    z-index: 1;
}

.header-menu .primary-menu ul li:last-child .sub-menu {
    left: auto;
    right: -15px;
}

.header-wrapper .header-top {
    border-bottom: 2px solid rgba(200, 200, 200, 0.5);
    padding: 50px 0;
    position: relative;
}

.header-top .form-group {
    margin-bottom: 0px;
    position: relative;
}

.header-wrapper .logo-wrap .logo {
    display: inline-block;
    margin: 25px 0;
    overflow: hidden;
}

.header-wrapper .header-top li a {
    display: inline-block;
}

.header-wrapper .header-top li img {
    width: 98px;
    height: 28px;
}

.header-menu .primary-menu ul li {
    position: relative;
    display: inline-block;
}

.header-menu .primary-menu .main-menu > li > a,
.header-menu .primary-menu .main-menu1 > li > a {
    display: inline-block;
    text-transform: uppercase;
    color: #020201;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 25px;
    border-bottom: 3px solid transparent;
    line-height: 65px;
}

.header-menu .primary-menu ul li .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    min-width: 230px;
    text-align: left;
    z-index: 99;
    left: -15px;
    -webkit-transform: translateY(-2em);
    -ms-transform: translateY(2em);
    transform: translateY(2em);
    -webkit-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background: #ffffff;
    pointer-events: none;
}

.header-menu .primary-menu ul li .sub-menu li {
    display: block;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.header-menu .primary-menu .main-menu > li.current-menu-item > a,
.header-menu .primary-menu .main-menu > li.current-menu-parent > a,
.header-wrapper .main-menu > li:hover > a,
.header-menu .primary-menu .main-menu1 > li.current-menu-item > a,
.header-menu .primary-menu .main-menu1 > li.current-menu-parent > a,
.header-wrapper .main-menu1 > li:hover > a {
    transition: all 0.5s ease-in-out 0s;
}

.header-menu .primary-menu .main-menu > li.current-menu-item > a,
.header-menu .primary-menu .main-menu1 > li.current-menu-item > a {
    color: #dda631;
}

.header-menu .primary-menu .main-menu > li.current-menu-item.current-menu-parent .current-menu-child,
.header-menu .primary-menu .main-menu1 > li.current-menu-item.current-menu-parent .current-menu-child {
    background: #dda631;
}

.header-menu .primary-menu .main-menu > li.current-menu-item.current-menu-parent .current-menu-child > a,
.header-menu .primary-menu .main-menu1 > li.current-menu-item.current-menu-parent .current-menu-child > a {
    color: #ffffff;
}

.header-menu .primary-menu .main-menu > li.current-menu-item > a::after,
.header-menu .primary-menu .main-menu > li.current-menu-parent > a::after,
.header-wrapper .main-menu > li:hover > a::after,
.header-menu .primary-menu .main-menu1 > li.current-menu-item > a::after,
.header-menu .primary-menu .main-menu1 > li.current-menu-parent > a::after,
.header-wrapper .main-menu1 > li:hover > a::after {
    content: "";
    display: inline-block;
    height: 3px;
    width: 100%;
    background: #dda631;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 19px;
}

.header-menu .primary-menu ul li .sub-menu li a {
    color: #000000;
    font-size: 16px;
    display: block;
    padding: 13px 15px;
    -webkit-transition: padding 0.3s ease-in-out 0s;
    -o-transition: padding 0.3s ease-in-out 0s;
    transition: padding 0.3s ease-in-out 0s;
}

.header-menu .primary-menu ul li .sub-menu li:hover {
    background: #dda631;
}

.header-menu .primary-menu ul li > .sub-menu > li:hover > a {
    color: #ffffff;
}

.header-menu .primary-menu ul li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    pointer-events: auto;
}

.header-menu .primary-menu ul li > .sub-menu > li > .sub-menu {
    left: 100%;
    top: 0;
}

.header-menu .primary-menu ul li.border-top.active > a:before {
    top: 0;
}

.header-menu .primary-menu ul li.border-bottom.active > a:before {
    bottom: 0;
}

.header-menu .primary-menu > ul > li {
    position: relative;
    display: inline-block;
    margin: 0 41px;
}

.header-menu .primary-menu > ul > li:last-child {
    margin-right: 0px;
}

.header-menu .primary-menu li.overflow-left-menu > .sub-menu {
    left: auto;
    right: 0;
}

/*----- Sticky Header -----*/

.fixed-header .sticky-header {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.sticky-header {
    left: 0;
    opacity: 0;
    padding: 0;
    position: fixed;
    top: 0;
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 0;
}

/*---------- Search Form ----------*/

.header,
.banner-wrapper {
    background-size: cover !important;
    background-position: center center !important;
}

.header-wrapper .search-form {
    position: relative;
}

.header-wrapper .search-form-title,
.responsive-header .search-form-title {
    background: #dda631 none repeat scroll 0 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    height: 55px;
    padding: 14px;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    width: 63px;
}

.header-wrapper .search-form-title:hover,
.responsive-header .search-form-title:hover {
    background: #1d1d1d;
}

.header-wrapper .search-form input[type="text"] {
    background: transparent none repeat scroll 0 0;
    font-style: italic;
    padding: 10px 80px 10px 22px;
    width: 338px;
}

/*----- Contact Info -----*/

.contact-info-wrap span:first-child {
    fill: #dda631;
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
}

.contact-info-wrap span:nth-child(2) {
    color: #020201;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
}

.contact-info-wrap span:nth-child(2):hover {
    color: #dda631;
}

.contact-info-wrap .icon svg {
    height: 20px;
    width: 20px;
}

.contact-info-wrap li {
    margin-right: 10px;
}

/*----- Social Icons -----*/

.special-link-wrap {
    margin-left: auto;
}

.social-icon-wrap {
    margin-left: 30px;
}

.social-icon-wrap li a {
    border: 2px solid #2d2d2d;
    border-radius: 100%;
    color: #2d2d2d;
    font-size: 16px;
    height: 30px;
    padding: 2px 0 0;
    text-align: center;
    width: 30px;
}

.social-icon-wrap li a:hover {
    border-color: #dda631;
    color: #dda631;
}

/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

.banner-wrapper .carousel-inner,
.banner-wrapper .carousel,
.banner-wrapper .item,
.banner-wrapper .col-sm-12,
.banner-wrapper .container,
.banner-wrapper .row {
    height: 100%;
}

.banner-wrapper {
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 75px;
}

.banner-wrapper .carousel-indicators {
    position: absolute;
    bottom: -46px;
}

.banner-wrapper .carousel.slide {
    position: relative;
}

.banner-wrapper .carousel-inner .carousel-item {
    background-position: center center !important;
    background-size: cover !important;
    height: 100%;
}

.banner-wrapper .carousel-inner .carousel-item.carousel-video iframe {
    height: 650px !important;
    width: 100% !important;
}

.banner-wrapper .carousel-inner .carousel-item.carousel-video .banner_caption {
    top: 0%;
}

.banner-wrapper .banner_caption {
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
}

.banner-wrapper .banner_caption h1 {
    color: #f2f0e7;
    letter-spacing: 2px;
}

.banner-wrapper .banner_caption span {
    color: #f2f0e7;
    font-family: "Lato", sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 45px;
}

.banner-wrapper .banner_caption .read-more {
    background: #dda631 none repeat scroll 0 0;
    color: #f2f0e7;
    font-size: 23px;
    height: 73px;
    padding: 16px;
    width: 234px;
    border: 1px solid #dda631;
}

.banner-wrapper .carousel-indicators li,
.banner-wrapper .carousel-indicators li.active {
    margin: 0 6px!important;
}

.banner-wrapper .carousel-indicators li {
    border-color: #7a757a;
    background: #7a757a;
    height: 15px;
    width: 15px;
    margin: 0px;
    border-radius: 100%;
    cursor: pointer;
}

.banner-wrapper .carousel-indicators li.active {
    background: #d1b55d;
}

/*----- Button Hover -----*/

.banner-wrapper .banner_caption .read-more:hover,
.chess-community-sec .register:hover,
.button-sec a:hover,
.widget_newsletter button:hover {
    background: #1d1d1d;
}

.banner-wrapper .banner_caption .read-more:hover {
    transform: translateY(-6px);
}

.chess-community-sec .register:hover,
.button-sec a:hover,
.widget_newsletter button:hover {
    transform: rotateY(15deg);
    -ms-transform: rotateY(15deg);
    /* IE 9 */
    -webkit-transform: rotateY(15deg);
    /* Safari 3-8 */
}

/*----- Border -----*/

.bdr-btm {
    border-bottom: 1px solid #cccccc;
}

/*---------------------------------------------------------------
4.0 Inner Sections
---------------------------------------------------------------*/

/*---------- Page Title Bar ----------*/

.page-title-bar-wrap {
    padding-bottom: 60px;
}

.page-title-bar {
    background-position: center!important;
    background-size: cover!important;
    height: 300px;
    position: relative;
}

.page-title-bar h1 {
    color: #ffffff;
    margin-bottom: 0px;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 2px;
}

/*----- Heading Section -----*/

.section-title h2 {
    text-transform: uppercase;
    color: #1d1d1d;
    letter-spacing: 1px;
}

.section-title h3 {
    text-transform: uppercase;
    color: #020201;
    letter-spacing: 1px;
}

/*----- Chess Community Section -----*/

.chess-community-sec,
.pay-and-win-wrap,
.contact-information,
.commissions-wrapper,
.detail-single-wrapper,
.about-us-section,
.events-section,
.events-detail-section,
.financial-section,
.interviews-detail-wrap,
.qus-ans-tab-wrap,
.status-tab-wrap,
.survey-wrapper,
.grid-wrapper,
.listing-wrapper,
.calendar-wrapper,
.chess-listing-wrapper,
.rules-of-chess-wrapper,
.federation-wrapper,
.after-login-section,
.board-member-section,
.records-wrap {
    padding: 70px 0;
}

.chess-community-sec .section-title {
    margin-bottom: 58px;
}

.chess-community-sec .row {
    margin-bottom: 50px;
}

.chess-community-sec .register {
    background: #dda631;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    width: 296px;
    height: 73px;
    padding: 16px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}

.community-info .img-sec a {
    border: 1px solid #dda631;
    border-radius: 100%;
    display: inline-block;
    height: 125px;
    padding-top: 36px;
    text-align: center;
    width: 125px;
}

.community-info .img-sec a:hover {
    transform: scale(1.1, 1.1);
}

.community-info .img-sec {
    margin-bottom: 20px;
}

.community-info h5 a {
    color: #020201;
    letter-spacing: 1px;
    line-height: 30px;
}

.community-info h5 a:hover {
    color: #dda631;
}

.chess-community-sec .community-info {
    margin: 0 55px;
}

.chess-community-sec .community-info svg {
    height: 55px;
    width: 55px;
}

.chess-community-sec .community-info svg path,
.chess-community-sec .community-info svg rect,
.chess-community-sec .community-info svg circle,
.online-academy-wrap .img-sec svg path,
.online-academy-wrap .img-sec svg rect {
    fill: #dda631;
}

/*----- Survey section -----*/

.surveys-wrapper {
    padding: 65px 0;
}

.community-info-wrap .img-sec {
    float: left;
    width: 20%;
    margin-right: 15px;
    align-self: center;
}

.community-info-wrap .title-sec {
    float: left;
    width: 85%;
    align-self: center;
}

.community-info-wrap .title-sec h5 a {
    font-weight: 700;
    letter-spacing: 1px;
}

.online-academy-wrap .community-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.online-academy-wrap .community-info:last-child {
    margin-bottom: 0;
}

.online-academy-wrap .img-sec svg {
    height: 60px;
    width: 60px;
}

.online-academy-wrap .community-info .img-sec a {
    height: 105px;
    width: 105px;
    padding-top: 22px;
}

/*----- Play Section ----*/

.play-wrap .play-sec {
    padding: 20px 30px 30px;
}

.play-wrap .play-sec p {
    color: #323232;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 600;
}

/*----- Button Section -----*/

.button-sec-wrap {
    padding: 66px 0;
}

.button-sec a {
    background: #dda631 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    height: 68px;
    text-transform: uppercase;
    width: 338px;
    padding: 15px;
    text-align: center;
    display: inline-block;
}

/*----- Gallery Section -----*/

.gallery-sec-wrap {
    padding: 64px 0;
}

.gallery-sec-wrap .slider-for {
    margin-bottom: 20px;
}

.gallery-sec-wrap .slider-nav a img {
    height: 100px;
    width: 100%;
    max-width: auto;
}

.gallery-sec-wrap .slider-nav a,
.gallery-sec-wrap .slider-nav .slick-current a {
    position: relative;
    display: inline-block;
}

.gallery-sec-wrap .slider-nav a::before,
.gallery-sec-wrap .slider-nav .slick-current a::before {
    background: rgba(221, 166, 49, 0.8) none repeat scroll 0 0 !important;
    bottom: 0 !important;
    content: "" !important;
    display: inline-block;
    left: 0 !important;
    opacity: 0;
    overflow: hidden;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    transition: all 0.3s ease-in-out 0s;
    width: 100% !important;
}

.gallery-sec-wrap .slider-nav .slick-current a::before {
    opacity: 1;
}

.slider-wrapper .slick-list iframe {
    height: 235px;
}

.youtube-wrap .video-wrap a {
    display: block;
}

.gallery-sec-wrap .slider-nav a:hover:before {
    opacity: 1;
}

.gallery-sec-wrap .slider-nav .slick-list {
    padding: 0 10px;
}

.gallery-sec-wrap .slick-dots {
    margin: 28px auto 13px;
    text-align: center;
    width: 100%;
}

.gallery-sec-wrap .slick-dots li {
    display: inline-block;
}

.gallery-sec-wrap .slick-dots li button {
    border-radius: 100%;
    background: #7a757a;
    height: 12px;
    width: 12px;
    margin: 0 3px;
    padding: 0;
    text-indent: -999999px;
    border: 1px solid #7a757a;
    vertical-align: middle;
}

.gallery-sec-wrap .slick-dots li.slick-active button {
    background: #dda631;
    border-color: #dda631;
}

.slider-wrapper {
    padding: 23px;
}

/*----- Advertiesment Section -----*/

.adver-sec-wrap {
    padding: 70px 0;
}

.commercial-wrap .adver-sec {
    text-align: center;
    padding: 10px;
}

/*----- Best Play Wrap -----*/

.best-player-wrap {
    border: 1px solid #bdbdbd;
    margin-left: 140px;
}

.best-player-wrap .section-title {
    padding: 20px 40px;
    border-bottom: 1px solid #bdbdbd;
}

.best-player-wrap .section-title h3 {
    margin-bottom: 0;
}

.best-player-wrap ul {
    padding: 20px 40px;
}

.best-player-wrap ul li {
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
    padding: 21.6px 0;
    display: flex;
    justify-content: space-between;
}

.best-player-wrap ul li:last-child {
    border-bottom: none;
}

.best-player-wrap ul li .img-sec {
    margin-right: 30px;
    align-self: center;
}

.best-player-wrap ul li .content-sec {
    align-self: center;
    margin: 0 auto;
    text-align: left;
    width: 75%;
}

.best-player-wrap ul li h5 {
    letter-spacing: 2px;
    margin-bottom: 0;
}

.best-player-wrap ul li span:first-child {
    color: #dda631;
}

.best-player-wrap ul li span:nth-child(2) {
    color: #020201;
}

.best-player-wrap ul li span:nth-child(3) {
    color: #acacac;
}

/*----- Calender Section -----*/

.calender-wrap {
    margin-right: 40px;
}

.calender-sec {
    height: 578px;
}

/*----- Grid Section -----*/

.grid-item-wrapper .grid-content {
    background: #f5f5f5;
}

.grid-item-wrapper .grid-content h5 {
    font-size: 17px;
    margin-bottom: 0;
}

.grid-item-wrapper .grid-content h5 a {
    color: #020201;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding: 15px 25px;
}

.grid-item-wrapper .grid-content h5 a:hover {
    color: #dda631;
}

.grid-item-wrapper .grid-item {
    display: block;
}

/*----- Event Section -----*/

.event-wrap {
    padding: 65px 0;
}

/*----- Latest News Section -----*/

.latest-news-wrapper {
    padding: 64px 0;
}

.latest-news-wrapper .img-sec {
    position: relative;
}

.latest-news-wrapper .overlay-content {
    background: #dda631 none repeat scroll 0 0;
    height: 70px;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 74px;
}

.latest-news-wrapper .overlay-content span {
    color: #ffffff;
}

.latest-news-wrapper .overlay-content span:first-child {
    font-size: 38px;
    font-weight: 700;
    line-height: 30px;
}

.latest-news-wrapper .overlay-content span:nth-child(2) {
    font-size: 19px;
    font-weight: 400;
}

.latest-news-wrapper .content-sec {
    background: #f5f5f5 none repeat scroll 0 0;
}

.latest-news-sec .content-sec,
.grid-item-wrapper .grid-item .grid-content {
    transition: all 0.4s ease-in-out 0s;
}

.latest-news-sec:hover .content-sec,
.grid-item-wrapper .grid-item:hover .grid-content {
    transform: translateY(-10px);
}

.latest-news-wrapper .content-sec h5 a {
    margin-bottom: 0;
    font-weight: 700;
    line-height: 29px;
    color: #020201;
    letter-spacing: 1px;
    height: 85px;
    padding: 10px 25px;
    display: inline-block;
}

.latest-news-wrapper .content-sec h5 a:hover {
    color: #dda631;
}

/*----- Asian Tourist Attractions -----*/

.asian-tourist-wrap {
    padding: 90px 0px 20px;
}

.asian-tourist-wrap .content-sec h6 a {
    color: #020201;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.asian-tourist-wrap .content-sec h6 a:hover {
    color: #dda631;
}

.asian-tourist-wrap .grid-item a,
.interviews-wrap .team-grid-item a {
    display: block;
}

/*----- Asian Tourist Attractions Internal -----*/

.asian-detail-single-content h4 {
    color: #020201;
    font-weight: 600;
    letter-spacing: 2.5px;
    margin-bottom: 45px;
}

.asian-detail-single-content p {
    margin-bottom: 30px;
}

/*----- Survey Section -----*/

.survey-wrapper .survey-section h5 {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 18px
}

.survey-wrapper .survey-section,
.listing-wrapper .row,
.chess-listing-wrapper .row,
.rules-of-chess-wrapper .post-sec {
    border-bottom: 1px solid #e8e7e6;
    margin-bottom: 40px;
    padding-bottom: 35px;
}

.survey-wrapper .survey-section:last-child {
    margin-bottom: 0;
}

.survey-wrapper .survey-section .meta-info {
    margin-bottom: 30px;
}

.survey-wrapper .survey-section .meta-info span,
.survey-wrapper .survey-section .meta-info a {
    color: #767676;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.survey-wrapper .survey-section .meta-info span::after {
    background: #767676;
    content: "";
    display: inline-block;
    height: 15px;
    width: 1px;
    margin: 0 5px 0 9px;
}

.survey-wrapper .survey-section .meta-info span:last-child::after {
    background: none;
}

.survey-wrapper .survey-section .meta-info a:hover {
    color: #dda631;
}

.survey-list .radio label {
    color: #020201;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.survey-list .radio label input[type="radio"] {
    margin-right: 20px;
}

/*----- GridSection -----*/

.team-grid-item .content-sec h5 a {
    color: #020201;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20.46px;
}

.team-grid-item .content-sec h5 a:hover {
    color: #dda631;
}

.grid-wrapper .gallery-grid-content svg,
.listing-wrapper .list-content svg,
.interview-slider-wrap .interview-grid-content svg,
.chess-listing-wrapper .list-content svg {
    height: 50px;
    width: 50px;
    fill: #ed2324;
}

.grid-wrapper .gallery-grid-item,
.listing-wrapper .list-item,
.interview-slider-wrap .interview-grid-item,
.chess-listing-wrapper .list-item {
    position: relative;
    overflow: hidden;
}

.grid-wrapper .gallery-grid-content,
.listing-wrapper .list-content,
.chess-listing-wrapper .list-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
    background: rgba(27, 24, 24, 0.5);
    transform: scale(1, 1);
}

.chess-listing-wrapper .list-content {
    opacity: 1;
}

.grid-wrapper .gallery-grid-item:hover .gallery-grid-content,
.listing-wrapper .list-item:hover .list-content {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.3, 1.3);
}

.grid-wrapper .gallery-grid-content::before,
.listing-wrapper .list-content::before,
.chess-listing-wrapper .list-content::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.grid-wrapper .row {
    margin-bottom: 15px;
}

.load-more-wrap {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.load-more-wrap a {
    display: inline-block;
    background: #eba438;
    color: #ffffff;
    width: 250px;
    height: 70px;
    text-align: center;
    padding: 16px;
    text-transform: uppercase;
    font-size: 700;
    letter-spacing: 1px;
    border: 1px solid #eba438;
    font-size: 25px;
}

.load-more-wrap a:hover {
    background: #ffffff;
    color: #eba438;
}

/*----- Article Section -----*/

.listing-wrapper .content-sec h4,
.calendar-wrapper .content-sec h4,
.calendar-wrapper .content-sec p,
.chess-listing-wrapper .content-sec h4 {
    margin-bottom: 20px;
}

.listing-wrapper .content-sec p {
    margin-bottom: 30px;
}

.listing-wrapper .content-sec h4 a,
.calendar-wrapper .content-sec h4 a,
.chess-listing-wrapper .content-sec h4 a {
    color: #020201;
    font-weight: 600;
    letter-spacing: 1px;
}

.listing-wrapper .content-sec h4 a:hover,
.calendar-wrapper .content-sec h4 a:hover,
.chess-listing-wrapper .content-sec h4 a:hover {
    color: #eba438;
}

.listing-wrapper .meta-info span {
    font-size: 20px;
    font-weight: 300;
    color: #020201;
}

.listing-wrapper .meta-info span {
    border-right: 1px solid #cccccc;
    margin-right: 35px;
    padding-right: 35px;
}

.listing-wrapper .meta-info span:last-child {
    border: none;
}

.listing-wrapper .meta-info span a {
    font-weight: 600;
    color: #020201;
    letter-spacing: 1px;
}

.listing-wrapper .meta-info span a:hover {
    color: #eba438;
}

.chess-listing-wrapper {
    margin: 0 auto;
    width: 77%;
}

.chess-listing-wrapper .row div:first-child {
    padding-left: 0;
}

.listing-wrapper .row:last-child,
.chess-listing-wrapper .row:last-child,
.rules-of-chess-wrapper .row:last-child {
    border: none;
    padding: 0;
    margin-bottom: 0;
}

.approve-wrap li a {
    background: #eba438;
    width: 221px;
    height: 53px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    border: 2px solid #eba438;
    letter-spacing: 2px;
}

.approve-wrap li a:hover {
    background: #ffffff;
    color: #eba438;
}

.approve-wrap li:first-child {
    margin-right: 18px;
}

.listing-wrapper .img-sec img {
    width: 100%;
}

/*----- Search Form -----*/

.search-form-wrap {
    background: #303030;
    padding: 50px 0;
}

.search-form-wrap form .form-group {
    float: left;
    margin-bottom: 0;
    margin-right: 1.5%;
    width: 25.8%;
}

.search-form-wrap form .form-control {
    background: transparent none repeat scroll 0 0;
    border-color: #737373;
    color: #ffffff;
    height: 66px;
    padding: 10px 25px;
    font-size: 20px;
}

.search-form-wrap form .form-control:focus {
    border-color: #eba438;
}

.search-form-wrap .form-control::-moz-placeholder {
    color: #ffffff !important;
}

.search-form-wrap .form-control::-webkit-input-placeholder {
    color: #ffffff !important;
}

.search-form-wrap form .form-group:last-child {
    margin-right: 0;
    width: 18%;
}

.search-form-wrap form .form-group button {
    font-size: 25px;
    height: 66px;
    width: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #eba438;
    border: 2px solid #eba438;
    background: transparent;
}

.search-form-wrap form .form-group button:hover {
    background: #eba438;
    color: #ffffff;
}

/*----- Calender Section -----*/

.calendar-wrapper .content-sec p {
    margin-bottom: 60px;
    overflow: hidden;
}

.calendar-wrapper .row:nth-child(5) {
    border-bottom: inherit;
}

.calendar-wrapper .row {
    border-bottom: 1px solid #e8e7e6;
    margin-bottom: 50px;
    padding-bottom: 45px;
}

.subscription-sec ul {
    display: inline-flex;
}

.subscription-sec li a {
    background: #eba438;
    width: 221px;
    height: 62px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    border: 2px solid #eba438;
    display: inline-block;
    position: relative;
    transition: all 0.1s ease-in-out 0s;
}

.subscription-sec li a:hover {
    background: #ffffff;
    color: #eba438;
}

.subscription-sec li a:hover svg path,
.subscription-sec li a:hover svg polygon {
    fill: #eba438;
}

.subscription-sec .download svg {
    height: 35px;
    vertical-align: top;
    width: 40px;
    margin-top: -3px;
    margin-right: 5px;
}

.subscription-sec .download svg path,
.subscription-sec .download svg polygon {
    fill: #ffffff;
}

/*----- Login / Register -----*/

.form-wrap .modal-content {
    background: rgba(0, 0, 0, 0) linear-gradient(to left top, #e0af46 50%, #dda631 50%) repeat scroll 0 0;
    border-radius: 0;
    padding: 55px 100px;
}

.form-wrap .modal-content .modal-body {
    padding: 0px;
}

.form-wrap .modal-content .modal-body .form-control {
    border-color: #ffffff;
    color: #ffffff;
    background: transparent;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0px !important;
}

.form-wrap .modal-body form input[type="button"] {
    width: 204px;
    height: 65px;
    background: #ffffff;
    color: #dda631;
    font-size: 26px;
    font-weight: 700;
    border: 2px solid #ffffff;
    border-radius: 0px;
    text-align: center;
    margin: 40px auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
}

.form-wrap .modal-body form span a {
    font-size: 17px;
    color: #ffffff;
    font-weight: 300;
    border-bottom: 1px solid #ffffff;
    text-transform: capitalize;
}

.form-wrap .modal-body form span a:hover {
    color: #000000;
}

.form-wrap .modal-content .modal-body input[type="button"]:hover {
    background: transparent;
    color: #ffffff;
}

.form-wrap .modal-content .modal-body .form-control:focus {
    border-color: #000000;
}

.form-wrap .modal-content .modal-body .form-control::-moz-placeholder,
.get-in-touch-form .form-control::-moz-placeholder {
    color: #ffffff !important;
}

.form-wrap .modal-content .modal-body .form-control::-webkit-input-placeholder,
.get-in-touch-form .form-control::-webkit-input-placeholder {
    color: #ffffff !important;
}

.form-wrap .modal-content .modal-body label {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}

.modal-dialog.form-wrap {
    max-width: 704px;
    margin-top: 110px;
}

.modal {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
}

.form-wrap .modal-content .modal-body h3 {
    font-size: 36.18px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
}

.form-wrap .modal-header {
    padding: 0;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}

.form-wrap .modal-header .close {
    background: #ffffff none repeat scroll 0 0;
    border: 4px solid #dda631;
    border-radius: 100%;
    height: 50px;
    opacity: 1;
    padding: 0;
    width: 50px;
    color: #dda631;
}

.form-wrap .modal-header .close:hover {
    background: #dda631;
    color: #ffffff;
    border-color: #ffffff;
}

.form-wrap .modal-header .close span {
    font-size: 35px;
    line-height: 0.8;
}

#signup .form-wrap .modal-body form input[type="button"] {
    margin-bottom: 0px;
}

/*----- Software Assistance -----*/

.assistance-wrap {
    padding: 60px 0;
}

/*----- Get In Touch -----*/

.get-in-touch-form {
    background: #1b1818;
    padding: 30px 50px;
}

.get-in-touch-form h3 {
    font-weight: 500;
    color: #ffffff;
    font-size: 45px;
    margin-bottom: 30px;
}

.get-in-touch-form .form-control {
    background: transparent none repeat scroll 0 0;
    border-color: #8c8a8a;
    color: #ffffff !important;
    padding: 10px 20px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.get-in-touch-form input.form-control {
    line-height: 46px;
    height: 46px;
}

.get-in-touch-form textarea.form-control {
    height: 97px;
    resize: none;
    margin-bottom: 20px;
}

.get-in-touch-form .form-group:first-child,
.get-in-touch-form .form-group:nth-child(3) {
    padding-right: 8px;
}

.get-in-touch-form .form-group:nth-child(2),
.get-in-touch-form .form-group:nth-child(4) {
    padding-left: 8px;
}

.get-in-touch-form .form-group button {
    width: 220;
    height: 64px;
    font-size: 20px;
    font-weight: 500;
    width: 220px;
    text-transform: uppercase;
}

/*----- Pay & Win -----*/

.pay-and-win-wrap .container {
    width: 50%;
}

.pay-and-win-wrap .pay-game-sec {
    margin-bottom: 60px;
}

.pay-and-win-wrap .pay-content-sec svg {
    height: 30px;
    width: 30px;
}

.pay-and-win-wrap .pay-content-sec svg path {
    fill: #8c8a88 !important;
    transition: all 0.3s ease-in-out 0s;
}

.pay-and-win-wrap .pay-content-sec svg:hover path {
    fill: #dda631 !important;
}

.pay-and-win-wrap .pay-content-sec li {
    margin-right: 10px;
}

.pay-and-win-wrap .pay-content-sec .move {
    width: 338px;
    height: 67px;
    background: #dda631;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px;
    border: 2px solid #dda631;
}

.pay-and-win-wrap .pay-content-sec .move:hover {
    background: #ffffff;
    color: #dda631;
}

/*----- Contact Info -----*/

.contact-information .get-in-touch-form {
    width: 708px;
}

.contact-information .contact-info {
    background: #dda631 none repeat scroll 0 0;
    margin-right: -15px;
    margin-top: 90px;
    overflow: visible;
    padding: 50px 44px;
    position: relative;
    width: 507px;
    z-index: 1;
}

.contact-information .contact-info-sec {
    width: 84%;
    margin: 0 auto;
    overflow: hidden;
}

.contact-information .icon svg {
    height: 30px;
    width: 30px;
}

.contact-information .contact-info li {
    border-bottom: 1px solid #f5d29c;
    list-style: outside none none;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.contact-information .contact-info li a {
    display: inline-block;
}

.contact-information .contact-info li span:nth-child(2) {
    margin-left: 15px;
}

.contact-information .contact-info li:last-child {
    border: none;
    margin: 0;
    padding: 0;
}

.contact-information .contact-info li span:first-child svg path {
    fill: #ffffff !important;
}

.contact-information .contact-info li a:hover span {
    color: #000000;
}

.contact-information .contact-info li span {
    color: #ffffff;
    font-size: 21px;
    display: inline-block;
    vertical-align: top;
    transition: all 0.3s ease-in-out 0s;
}

/*----- Commissions Section -----*/

.commissions-wrapper li {
    float: left;
    list-style: outside none none;
    margin-bottom: 20px;
    width: 50%;
}

.commissions-wrapper li a {
    font-size: 20px;
    font-weight: 300;
    color: #020201;
    letter-spacing: 1px;
}

.commissions-wrapper li a:hover,
.commissions-single-wrapper .grid-item .contact-info span a:hover {
    color: #dda733;
}

.commissions-wrapper li a::before,
.federation-wrapper .federation-tab-sec .tab-content li::before {
    content: "\f101";
    font-family: FontAwesome;
    color: #dda733;
    margin-right: 15px;
}

.detail-single-wrapper .grid-item {
    border: 1px solid #dbdbdb;
    padding: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}

.detail-single-wrapper .grid-item .img-sec {
    float: left;
    width: 40%;
    margin-right: 30px;
}

.detail-single-wrapper .grid-item .content-sec {
    float: left;
    width: 57%;
}

.detail-single-wrapper .grid-item .content-sec h4 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #020201;
}

.detail-single-wrapper .grid-item .content-sec h4:first-child {
    color: #dda733;
}

.detail-single-wrapper .grid-item .content-sec h4:nth-child(2) {
    margin-bottom: 20px;
}

.detail-single-wrapper .grid-item .contact-info span,
.detail-single-wrapper .grid-item .contact-info span a {
    font-weight: 500;
    font-size: 16px;
    color: #020201;
    margin-bottom: 8px;
}

.detail-single-wrapper .grid-item .contact-info span a {
    font-weight: 300;
}

.detail-single-wrapper .grid-item .contact-info span a:hover {
    color: #eba438;
}

.detail-single-wrapper .section-title {
    margin-bottom: 50px;
}

.detail-single-wrapper .section-title h3,
.federation-wrapper .section-title h3 {
    font-size: 34px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 2px;
}

.federation-wrapper .section-title {
    margin-bottom: 50px;
}

.federation-wrapper .federation-tab-sec {
    border: 1px solid #dbdbdb;
    position: relative;
}

.federation-wrapper .federation-tab-sec .nav-tabs {
    float: left;
    width: 40%;
    border: none;
    display: inherit;
    padding: 0;
}

.federation-wrapper .federation-tab-sec .tab-content {
    float: left;
    width: 60%;
    padding: 30px;
}

.federation-wrapper .federation-tab-sec .tab-content li {
    list-style: none;
}

.federation-wrapper .federation-tab-sec .nav a {
    background: #f4f4f4;
    width: 364px;
    height: 91px;
    overflow: hidden;
    padding: 10px;
    display: inline-block;
}

.federation-wrapper .federation-tab-sec .nav a::after,
.after-login-section .login-wrap > .nav a::after {
    transition: all 0.3s ease-in-out 0s;
}

.federation-wrapper .federation-tab-sec .nav a img {
    float: left;
    width: 30%;
    margin-right: 15px;
}

.federation-wrapper .federation-tab-sec .nav a h4 {
    float: left;
    width: 60%;
    margin-top: 18px;
    color: #020201;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 1px;
    transition: all 0.4s ease-in-out 0s;
}

.federation-wrapper .federation-tab-sec .nav li,
.after-login-section .login-wrap > .nav li {
    position: relative;
    overflow: hidden;
}

.federation-wrapper .federation-tab-sec .nav a.active,
.federation-wrapper .federation-tab-sec .nav a:hover,
.after-login-section .login-wrap > .nav a.active,
.after-login-section .login-wrap > .nav a:hover {
    background: #dda631;
}

.federation-wrapper .federation-tab-sec .nav a.active h4,
.after-login-section .login-wrap > .nav a.active h4,
.federation-wrapper .federation-tab-sec .nav a:hover h4,
.after-login-section .login-wrap > .nav a.hover h4 {
    color: #ffffff;
}

.federation-wrapper .federation-tab-sec .nav a.active::after {
    right: 119px;
    top: 47%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(221, 166, 49, 0);
    border-left-color: #dda631;
    border-width: 46px;
    margin-top: -46px;
}

.federation-wrapper .federation-tab-sec .tab-content li::before {
    float: left;
    margin-right: 0;
}

.federation-wrapper .federation-tab-sec .tab-content li p {
    padding-left: 25px;
}

/*----- About Us Section -----*/

.about-us-section .section-title h4 {
    color: #020201;
    font-weight: 600;
    letter-spacing: 1px;
}

.about-us-section .content-section {
    margin-bottom: 50px;
}

.about-us-section .section-title {
    margin-bottom: 25px;
}

.about-vision-wrap p {
    margin-bottom: 0;
}

.about-vision-wrap p,
.about-vision-wrap h4 {
    color: #ffffff;
}

.about-vision-wrap .our-vision-wrap {
    width: 758px;
    float: left;
    padding: 50px 100px 50px 50px;
    position: relative;
    z-index: -999;
}

.about-vision-wrap .our-vision-wrap::before {
    background: rgba(221, 166, 49, 0.8);
}

.about-vision-wrap .our-mission-wrap {
    float: left;
    margin-left: -70px;
    margin-top: 60px;
    padding: 50px;
    width: 752px;
    position: relative;
    z-index: -999;
}

.about-vision-wrap .our-mission-wrap,
.about-vision-wrap .our-vision-wrap {
    border: 8px solid #ffffff;
}

.about-vision-wrap .our-mission-wrap::before {
    background: rgba(2, 2, 1, 0.8);
}

.about-vision-wrap .our-vision-wrap::before,
.about-vision-wrap .our-mission-wrap::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

/*----- Bids For Events -----*/

.events-section .content-sec-list ol,
.financial-section .content-sec-list ol,
.status-tab-wrap .panel-body ol,
.status-tab-wrap .panel-group {
    counter-reset: list;
}

.events-section .content-sec-list li,
.financial-section .content-sec-list li,
.status-tab-wrap .panel-body li {
    list-style: none;
}

.events-section .content-sec-list li::before,
.financial-section .content-sec-list li::before {
    background: #dda631;
    border-radius: 100%;
    content: counter(list);
    counter-increment: list;
    float: left;
    height: 28px;
    margin-left: -18px;
    text-align: center;
    width: 28px;
    padding: 1px;
    color: #ffffff;
}

.financial-section .content-sec-list li ol {
    margin-left: 50px;
}

.financial-section .content-sec-list li ol li::before {
    content: counter(list, lower-alpha) ")";
    background: none;
    height: inherit;
    width: inherit;
    color: #020201;
    padding: 0;
    font-weight: 300;
}

.financial-section .content-sec-list li ol li p {
    margin-left: 0;
}

.events-section .content-sec-list li p,
.financial-section .content-sec-list p {
    margin-left: 30px;
    vertical-align: middle;
}

.events-section .special-link li:first-child {
    margin-right: 30px;
}

.events-section .special-link a {
    background: #dda631;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 18px 25px;
    border: 2px solid #dda631;
}

.events-section .special-link a:hover {
    background: #ffffff;
    color: #dda631;
}

.events-detail-section .award-wrap .nav a {
    background: #f6f6f6 none repeat scroll 0 0;
    color: #020201;
    font-size: 26px;
    font-weight: 700;
    height: 68px;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 720px;
    display: inline-block;
}

.events-detail-section .award-wrap .nav,
.after-login-section .tab-content .nav {
    border-bottom: none;
    padding: 0;
}

.events-detail-section .award-wrap .nav li a.active,
.events-detail-section .award-wrap .nav li:hover a {
    background: #dda631;
    color: #ffffff;
}

.events-detail-section .tab-content {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    padding: 30px;
}

.content-sec-list {
    counter-reset: section;
}

.content-sec-list span {
    counter-reset: subsection;
    opacity: 0;
}

.content-sec-list span:before {
    counter-increment: section;
    content: "Section " counter(section) ": ";
}

.content-sec-list p:before {
    counter-increment: subsection;
    content: "C." counter(section) "." counter(subsection) " ";
    float: left;
    padding-right: 5px;
}

/*----- Academies Section -----*/

.acf-academy-sec,
.academies-wrap .title-sec {
    padding: 50px 0;
}

.academies-wrap .title-sec {
    background: #fff3da;
}

.academies-wrap .title-sec h2 {
    font-size: 44px;
    color: #dda631;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.academies-wrap .title-sec .container {
    width: 53%;
}

.acf-academy-sec h3 {
    font-size: 34px;
    color: #020201;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.acf-academy-sec span {
    color: #dda631;
    text-transform: uppercase;
}

.acf-academy-sec li {
    list-style: none;
}

.acf-academy-sec li::before {
    content: "\f101";
    font-family: FontAwesome;
    color: #dda733;
    float: left;
}

.acf-academy-sec,
.notification-section {
    margin: 0 auto;
    width: 60%;
}

.acf-academy-sec li p {
    padding-left: 25px;
}

.notification-section {
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 100px;
}

.notification-section h4 {
    font-size: 24px;
    color: #dda631;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
}

/*----- Interviews Wrap -----*/

.interviews-wrap {
    padding-top: 70px;
}

.interview-slider-wrap .interview-grid-content {
    background: rgba(27, 24, 24, 0.5) none repeat scroll 0 0;
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transform: scale(1, 1);
    transition: all 0.3s ease-in-out 0s;
    z-index: 1;
}

.interview-slider-wrap .interview-grid-content::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.interview-slider-wrap .interview-grid-item {
    margin: 0 15px;
}

.interview-slider-wrap {
    margin: 0 auto 50px;
    width: 85%;
}

.interview-tab-wrap,
.qus-ans-tab-wrap,
.status-tab-wrap {
    width: 83%;
    margin: 0 auto;
}

.interview-tab-wrap .panel-heading h4,
.qus-ans-tab-wrap .panel-heading h4,
.status-tab-wrap .panel-heading h4 {
    background: #f7f7f7;
    padding: 15px 35px;
    position: relative;
    margin-bottom: 0;
}

.interview-tab-wrap .panel-heading,
.qus-ans-tab-wrap .panel-heading,
.status-tab-wrap .panel-heading {
    margin-bottom: 20px;
}

.interview-tab-wrap .panel-body,
.qus-ans-tab-wrap .panel-body {
    margin-bottom: 35px;
    padding: 0 26px 15px;
}

.interview-tab-wrap .panel-heading h4 a,
.qus-ans-tab-wrap .panel-heading h4 a,
.status-tab-wrap .panel-heading h4 a {
    color: #1b1b1b;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

.status-tab-wrap .panel-heading h4 a {
    text-transform: uppercase;
}

.interview-tab-wrap .panel-heading h4 a:hover,
.qus-ans-tab-wrap .panel-heading h4 a:hover,
.status-tab-wrap .panel-heading h4 a:hover {
    color: #eba438;
}

.interview-tab-wrap .panel-heading h4 a i,
.qus-ans-tab-wrap .panel-heading h4 a i,
.status-tab-wrap .panel-heading h4 a i {
    background: #eba438;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    text-align: center;
    padding: 13px;
    color: #ffffff;
    font-size: 25px;
}

/*----- Status Section -----*/

.status-tab-wrap .panel-body ol {
    margin-left: 0;
    margin-bottom: 20px;
}

.status-tab-wrap .panel-body ol li::before {
    content: counter(list, upper-alpha);
    counter-increment: list;
    float: left;
}

.status-tab-wrap .panel-body ol li {
    float: left;
    width: 50%;
}

.status-tab-wrap .panel-body {
    margin-bottom: 50px;
    padding: 15px 35px;
}

.status-tab-wrap .panel-body ol li p {
    padding-left: 22px;
}

.status-tab-wrap .panel-heading h4 a {
    padding-left: 40px;
    letter-spacing: 2px;
}

.status-tab-wrap .panel-default::before {
    bottom: 0;
    content: counter(list) ".";
    counter-increment: list;
    left: 30px;
    position: absolute;
    top: 5px;
    z-index: 9;
    color: #1b1b1b;
    font-size: 25px;
    font-weight: 600;
}

.status-tab-wrap .panel-default {
    position: relative;
}

/*----- Rules Of Chess -----*/

.rules-of-chess-wrapper h4 {
    font-weight: 600;
    letter-spacing: 1px;
}

.rules-of-chess-wrapper .banner-wrap img,
.rules-of-chess-wrapper .content-sec {
    margin-bottom: 25px;
}

.rules-of-chess-wrapper .content-sec:last-child {
    margin-bottom: 0px;
}

.rules-of-chess-wrapper .content-sec ul {
    margin-bottom: 20px;
}

.rules-of-chess-wrapper .content-sec ul li {
    list-style: none;
    margin-bottom: 5px;
    color: #020201;
    font-weight: 300;
    font-size: 16px;
}

.rules-of-chess-wrapper .content-sec ul li span {
    font-weight: 500;
}

.rules-of-chess-wrapper .content-sec ul li::before {
    content: "\f111";
    font-family: FontAwesome;
    color: #eba438;
    font-size: 10px;
    float: left;
    margin-top: 6px;
}

.rules-of-chess-wrapper .content-sec ul li p {
    padding-left: 25px;
    margin-bottom: 8px;
}

.rules-of-chess-wrapper .content-sec p a {
    color: #157cdd;
    display: inline-block;
}

.rules-of-chess-wrapper .content-sec p {
    margin-bottom: 0;
}

.rules-of-chess-wrapper .content-sec p a:hover {
    color: #eba438;
}

.rules-of-chess-wrapper .content-sec p a:hover::after {
    background: #eba438;
}

.rules-of-chess-wrapper .content-sec p a::after {
    background: #157cdd;
    content: "";
    display: block;
    height: 1px;
    margin-top: -5px;
    width: 100%;
}

.rules-of-chess-wrapper .post-sec p:last-child {
    margin-bottom: 0px;
}

/*----- Slick Arrow Section -----*/

.slick-arrow {
    position: absolute;
    cursor: pointer;
    top: 40%;
    font-size: 30px;
    padding: 2px;
    border-radius: 100%;
    z-index: 9;
    background: #ffffff;
    opacity: 1;
    width: 55px;
    height: 55px;
    text-align: center;
    border: 2px solid #eaeaea;
}

.slick-arrow:hover {
    border-color: #eba438;
}

.slick-arrow:hover i {
    color: #eba438;
}

.slick-arrow i {
    color: #8d8b8b;
}

.slick-prev.slick-arrow {
    left: -75px;
}

.slick-next.slick-arrow {
    right: -75px;
}

/*----- After Login Section -----*/

.after-login-section .tab-content .tab-content {
    overflow: hidden;
    border: 1px solid #d6d6d6;
    padding: 50px;
}

.after-login-section .tab-content .nav a {
    background: #f6f6f6 none repeat scroll 0 0;
    color: #020201;
    font-size: 26px;
    font-weight: 700;
    height: 68px;
    letter-spacing: 2px;
    padding: 16px;
    text-align: center;
    text-transform: capitalize;
    width: 468px;
    display: inline-block;
}

.after-login-section .tab-content .nav li a.active,
.after-login-section .tab-content .nav li:hover a {
    background: #dda631;
    color: #ffffff;
}

.after-login-section > .tab-content {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    padding: 30px;
}

.after-login-section .login-wrap > .nav a {
    display: inline-block;
}

.after-login-section .login-wrap > .nav a h4 {
    color: #020201;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.after-login-section .login-wrap > .nav-tabs a {
    height: 64px;
    width: 371px;
    background: #f4f4f4;
    padding: 16px 30px;
    overflow: hidden;
    display: inline-block;
}

.after-login-section .login-wrap > .nav a.active::after {
    border-color: rgba(221, 166, 49, 0) rgba(221, 166, 49, 0) rgba(221, 166, 49, 0) #dda631;
    border-image: none;
    border-style: solid;
    border-width: 32px;
    content: " ";
    height: 0;
    margin-top: -32px;
    pointer-events: none;
    position: absolute;
    right: 69px;
    top: 46%;
    width: 0;
}

.after-login-section .login-wrap > .nav-tabs {
    float: left;
    width: 35%;
    border: none;
    display: inherit;
}

.after-login-section .login-wrap > .nav-content {
    float: left;
    width: 65%;
    padding: 30px;
}

.browse-file-sec .form_group {
    position: relative;
    margin-bottom: 10px;
}

.browse-file-sec .form_group input[type="text"],
.browse-file-sec .form_group .selectpicker {
    width: 100%;
    height: 63px;
    border: 1px solid #e3e3e3;
    text-transform: capitalize;
    color: #1b1b1b;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 15px;
}

.browse-file-sec .form_group input[type="text"]:focus,
.browse-file-sec .form_group .selectpicker:focus,
.browse-file-sec .form_group textarea:focus {
    border-color: #eba438;
}

.browse-file-sec .select-box span {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 8px;
    z-index: 99;
    font-size: 22px;
    color: #a2a2a2;
}

.browse-file-sec .form_group textarea {
    border: 1px solid #e3e3e3;
    resize: none;
    text-transform: capitalize;
    color: #1b1b1b;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 15px;
    padding-top: 12px;
    padding-left: 15px;
}

.browse-file-sec .form_group .error {
    font-size: 17px;
    color: #1b1b1b;
    font-weight: 300;
    font-style: italic;
    margin-top: 5px;
    overflow: hidden;
    display: block;
    letter-spacing: 1px;
}

.video-sec.browse-file-sec .or {
    font-size: 25px;
    color: #3d3d3d;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto;
    display: block;
    text-align: center;
    letter-spacing: 2px;
}

.wpcf7-form-control-wrap.file-518 #fileuploadfield {
    display: none;
}

.wpcf7-form-control-wrap {
    position: relative;
}

.browse-file-sec button {
    text-align: center;
    margin: 0 auto;
    float: none;
    display: block;
    width: 256px;
    height: 67px;
    font-size: 25px;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 40px;
}

.browse-file-sec button:hover {
    color: #eba438;
}

.browse-file-sec .form_group .browse {
    width: 140px;
    height: 63px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
    background: #3d3d3d;
    position: absolute;
    right: 0;
    border-color: #3d3d3d;
    text-transform: uppercase;
}

.browse-file-sec .form_group .browse:hover {
    background: #ffffff;
    color: #3d3d3d;
}

/*----- Board Member Section -----*/

.board-member-section {
    text-align: center;
}

.board-member-section .board-member {
    border: 1px solid #dbdbdb;
    padding: 15px;
    transition: all 0.3s ease-in-out 0s;
}

.board-member-section .board-member.board-center {
    display: inline-block;
    float: none;
    margin: 0 auto;
    width: 47%;
}

.board-member-section .board-member:hover {
    border-color: #dda631;
}

.board-member-section .board-member img {
    transition: all 0.3s ease-in-out 0s;
}

.board-member-section .board-member:hover img {
    transform: scale(1.1, 1.1);
}

.board-member.board-center .img-sec {
    float: left;
    margin-right: 30px;
    width: 38%;
}

.board-member.board-center .content-sec {
    width: 45%;
    float: left;
    text-align: left;
}

.board-member .content-sec {
    text-align: left;
}

.board-member .content-sec span,
.board-member .content-sec h4 {
    font-size: 22px;
    color: #dda631;
    font-weight: 600;
    display: block;
    margin-bottom: 12px;
    letter-spacing: 1px;
    line-height: 30px;
}

.board-member .content-sec h4 {
    color: #020201;
}

.board-member .content-sec a {
    color: #020201;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.board-member .content-sec a:hover {
    color: #dda631;
}

.board-member-grid .board-member .img-sec {
    margin-bottom: 20px;
}

.board-member-grid .board-member {
    height: 335px;
}

.board-member-grid::after,
.board-member-grid::before {
    content: "";
    width: 77.1%;
    height: 1px;
    background: #dda631;
    display: block;
    margin: 70px auto;
    text-align: center;
}

.board-member.board-center.border-btm,
.board-member.board-center.border-top,
.board-member-grid .row > div,
.board-member-grid .board-member {
    position: relative;
}

.board-member.board-center.border-btm::after {
    background: #dda631;
    bottom: -76px;
    content: "";
    display: block;
    height: 76px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 1px;
    z-index: 9;
}

.board-member-grid .row > div::after {
    background: #dda631;
    bottom: -71px;
    content: "";
    display: block;
    height: 60px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 1px;
}

.board-member.board-center.border-top::before,
.board-member.board-center.border-top::after,
.board-member-grid .member-grid::after,
.board-member-grid .member-grid::before {
    background: #dda631;
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.board-member-grid .member-grid::before,
.board-member.board-center.border-top::before {
    height: 38px;
    top: -71px;
    width: 1px;
}

.board-member.board-center.border-top::after,
.board-member-grid .member-grid::after {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: -37px;
}

/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

.footer-wrapper .footer-top-section {
    padding: 92px 0 52px;
    background: #1d1d1d;
}

.footer-wrapper .footer-top-section a:hover {
    color: #dda631;
}

.footer-wrapper .footer-bottom-section span,
.footer-wrapper .footer-top-section a,
.footer-wrapper .footer-top-section h5,
.footer-wrapper .footer-top-section i,
.footer-wrapper .footer-top-section span {
    color: #b2b2b2;
}

.footer-wrapper .footer-top-section .title-info {
    margin-bottom: 20px;
}

.widget_nav_link .nav-link li {
    display: block;
    float: left;
    list-style: outside none none;
    margin-bottom: 15px;
    width: 189.5px;
    list-style: none;
}

.widget_nav_link .nav-link li a {
    text-transform: uppercase;
    font-size: 15px;
}

.widget_nav_link .nav-link {
    padding: 0;
}

.widget_contactus .contact-info-sec i,
.widget_contactus .contact-info-sec a,
.widget_contactus .contact-info-sec span:nth-child(2) {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    width: 86%;
    float: left;
}

.widget_contactus .contact-info-sec span {
    display: inline-block;
    vertical-align: middle;
    float: left;
}

.widget_contactus .contact-info-sec svg {
    height: 20px;
    margin-right: 15px;
    vertical-align: middle;
    width: 20px;
}

.widget_contactus .contact-info-sec:nth-child(3) svg {
    height: 26px;
    width: 26px;
}

.widget_contactus .contact-info-sec svg path {
    fill: #b2b2b2 !important;
}

.widget_contactus .contact-info-sec {
    margin-bottom: 20px;
}

.footer-wrapper .footer-top-section h5 {
    text-transform: uppercase;
}

.footer-wrapper .footer-bottom-section {
    background: #252525;
    padding: 20px 0;
}

.footer-wrapper .footer-bottom-section span {
    font-size: 15px;
}

.footer-wrapper .widget-section:first-child {
    width: 380px;
    float: left;
}

.footer-wrapper .widget-section:nth-child(2) {
    float: left;
    padding: 0 89px;
    width: 535px;
}

.footer-wrapper .widget-section:nth-child(3) {
    border-right: medium none;
    float: left;
    padding-left: 90px;
    width: 500px;
}

.footer-wrapper .widget-section {
    border-right: 1px solid #434343;
    height: 280px;
}

.footer-wrapper .submit-form {
    overflow: hidden;
    position: relative;
}

.widget_newsletter input[type="email"] {
    background: #252525;
    border-color: #4a4a4a;
    height: 51px;
    padding: 15px;
    color: #b2b2b2;
    font-weight: 300;
}

.widget_newsletter input[type="email"]:focus {
    border-color: #dda631;
}

.widget_newsletter input[type="email"]::-moz-placeholder {
    color: #b2b2b2 !important;
}

.widget_newsletter input[type="email"]::-webkit-input-placeholder {
    color: #b2b2b2 !important;
}

.widget_newsletter input[type="email"]:-ms-input-placeholder {
    color: #b2b2b2 !important;
}

.widget_newsletter button {
    position: absolute;
    right: 0;
    top: 0;
    width: 127px;
    height: 51px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.widget_newsletter input[type="email"] {
    background: #252525;
    border-color: #4a4a4a;
    height: 51px;
    padding: 15px 142px 15px 15px;
    width: 98%;
    position: relative;
}

/*----- Widget Social Share -----*/

.widget_social_share li a {
    border: 2px solid #575757;
    border-radius: 100%;
    font-size: 22px;
    height: 40px;
    padding: 2px;
    text-align: center;
    width: 40px;
    display: inline-block;
}

.widget_social_share li a i {
    color: #575757;
}

.widget_social_share li a:hover {
    color: #dda631!important;
    border-color: #dda631;
}

.widget_social_share li a:hover i {
    color: #dda631;
}

.widget_social_share li {
    margin-right: 15px !important;
}

/*----- Widget Contactus -----*/

.widget_contactus .contact-info-sec i {
    float: left;
    width: 8%;
    margin-top: 6px;
}

/*---------- Result Page ------------*/

.records-wrap .table thead tr th,
.records-wrap .table tbody tr td {
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
}

.records-wrap .table thead tr th {
    background: #dda631;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 25px;
}

.records-wrap .table tbody tr td {
    color: #020201;
    font-size: 18px;
}

.records-wrap .table tbody tr:nth-child(even) {
    background: #f5f5f5;
}

.records-wrap .table tbody tr td .btn {
    background: #dda631;
    text-transform: uppercase;
    border-radius: 0px;
    color: #ffffff;
    border: 1px solid #dda631;
}

.records-wrap .table tbody tr td .info {
    display: flex;
    justify-content: space-between;
}

.records-wrap .table tbody tr td .img,
.records-wrap .table tbody tr td .text,
.records-wrap .table tbody tr td .value {
    align-self: center;
}

.records-wrap .table tbody tr td .btn:hover {
    background: #ffffff;
    color: #dda631;
}

.records-wrap .table tbody span {
    display: block;
}

/*---------- thank you page ----------*/

.thank_main_section {
    float: left;
    display: block;
    position: relative;
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0px auto 0;
    border-top: 1px solid #dda631;
}

.main_sec {
    overflow: hidden;
    background: #f1f1f1;
}

.thank_main_section .tahnk_you_box {
    display: block;
    padding: 130px 0 100px;
    width: 100%;
}

.thank_main_section .tahnk_you_box h1 {
    margin-bottom: 50px;
}

.thank_main_section .tahnk_you_box h1 i {
    font-size: 70px;
    line-height: 115px;
    color: #2da725;
    border: 4px solid #2da725;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    width: 120px;
    height: 120px;
}

.thank_main_section .tahnk_you_box p {
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #2da725;
    background: rgba(115, 208, 156, 0.3);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    color: #2da725;
}

/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/

@media only screen and (min-width: 1500px) {
    .container {
        max-width: 1470px;
    }
}

@media only screen and (max-width:1499px) and (min-width: 1200px) {

    .chess-community-sec,
    .pay-and-win-wrap,
    .contact-information,
    .commissions-wrapper,
    .detail-single-wrapper,
    .about-us-section,
    .events-section,
    .events-detail-section,
    .financial-section,
    interviews-detail-wrap,
    .qus-ans-tab-wrap,
    .status-tab-wrap,
    .rules-of-chess-wrapper,
    .federation-wrapper,
    .after-login-section,
    .board-member-section,
    .records-wrap {
        padding: 50px 0;
    }

    /*----- Header Section -----*/
    .container {
        max-width: 1170px;
    }
    h1 {
        font-size: 45px;
    }
    p {
        font-size: 15px;
        line-height: 24px;
    }
    .header-menu .primary-menu > ul > li {
        margin: 0 27px;
    }

    .header-menu .primary-menu .main-menu > li > a,
    .header-menu .primary-menu .main-menu1 > li > a {
        font-size: 14px;
    }

    .header-wrapper .search-form input[type="text"],
    .responsive-header .search-form input[type="text"] {
        width: 300px;
    }

    .contact-info-wrap span:nth-child(2) {
        font-size: 14px;
    }

    .social-icon-wrap li a {
        font-size: 14px;
        height: 27px;
        width: 27px;
    }

    /*----- Banner Section -----*/
    .banner-wrapper .banner_caption h1 {
        font-size: 40px;
    }
    .banner-wrapper .banner_caption span {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .banner-wrapper .banner_caption .read-more {
        font-size: 18px;
        height: 60px;
        padding: 14px;
        width: 190px;
    }
    .banner-wrapper,
    .banner-wrapper .carousel-inner .carousel-item.carousel-video iframe {
        height: 495px;
    }

    /*----- Font Size -----*/
    .section-title h2 {
        font-size: 30px;
    }
    .section-title h3 {
        font-size: 22px;
    }

    /*----- Chess Community Section -----*/
    .chess-community-sec .register {
        font-size: 20px;
        height: 60px;
        padding: 15px;
        width: 250px;
    }
    .chess-community-sec,
    .surveys-wrapper {
        padding: 50px 0;
    }
    .community-info h5 a {
        line-height: 22px;
        font-size: 16px;
    }
    .community-info-wrap .img-sec {
        width: 30%;
    }

    /*----- Survey Section -----*/
    .online-academy-wrap .community-info {
        margin-bottom: 30px;
    }

    /*----- Play Section -----*/
    .play-wrap .play-sec p {
        font-size: 20px;
    }

    /*----- Button Section -----*/
    .button-sec a {
        font-size: 18px;
        height: 60px;
        padding: 16px;
        width: 285px;
    }
    .button-sec-wrap {
        padding: 50px 0;
    }
    .calender-sec {
        height: 499px;
    }
    .latest-news-wrapper .overlay-content span:nth-child(2) {
        font-size: 15px;
    }
    .latest-news-wrapper .content-sec h5 a {
        height: 70px;
        line-height: 22px;
    }
    .latest-news-wrapper .overlay-content span:first-child {
        font-size: 30px;
    }

    /*----- Footer Section -----*/
    .footer-wrapper .widget-section:first-child {
        width: 292px;
    }
    .footer-wrapper .widget-section:nth-child(2) {
        padding: 0 60px;
        width: 490px;
    }
    .footer-wrapper .widget-section:nth-child(3) {
        padding-left: 60px;
        width: 350px;
    }
    .widget_nav_link .nav-link li a {
        font-size: 13px;
    }
    .widget_nav_link .nav-link li {
        width: 145.5px;
    }
    .widget_newsletter button {
        font-size: 14px;
        width: 100px;
    }
    .widget_social_share li a {
        font-size: 16px;
        height: 30px;
        width: 30px;
    }
    .widget_newsletter input[type="email"] {
        padding: 12px 110px 15px 15px !important;
    }
    .best-player-wrap {
        border: 1px solid #bdbdbd;
        margin-left: 100px;
    }

    /*----- Gallery Section -----*/
    .gallery-sec-wrap .slider-nav a img {
        height: 60px;
    }
    .gallery-sec-wrap .slick-dots {
        margin: 22px auto 8px;
    }

    /*----- Asian Tourist Attractions Internal -----*/
    .asian-detail-single-content h4 {
        margin-bottom: 35px;
        font-size: 20px;
    }
    .asian-detail-single-content p {
        margin-bottom: 20px;
    }
    /*----- Survey -----*/
    .survey-wrapper .survey-section h5 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .survey-wrapper .survey-section .meta-info {
        margin-bottom: 20px;
    }
    .survey-wrapper .survey-section .meta-info span,
    .survey-wrapper .survey-section .meta-info a {
        font-size: 16px;
    }
    .survey-list .radio label {
        font-size: 16px;
    }
    .survey-wrapper .survey-section {
        margin-bottom: 35px;
        padding-bottom: 35px;
    }

    /*----- Interview Section -----*/
    .team-grid-item .content-sec h5 a {
        font-size: 16.46px;
    }

    /*----- Articles Section -----*/
    .listing-wrapper .content-sec h4 a,
    .chess-listing-wrapper .content-sec h4 a,
    .rules-of-chess-wrapper .content-sec h4 {
        font-size: 20px;
    }
    .listing-wrapper .content-sec h4,
    .listing-wrapper .content-sec p,
    .chess-listing-wrapper .content-sec h4,
    .rules-of-chess-wrapper .content-sec h4 {
        margin-bottom: 10px;
    }
    .listing-wrapper .meta-info span {
        font-size: 16px;
    }
    .listing-wrapper .meta-info span {
        margin-right: 20px;
        padding-right: 20px;
    }
    /*----- Load More Section -----*/
    .load-more-wrap a {
        font-size: 20px;
        height: 60px;
        padding: 15px;
        width: 224px;
    }

    /*----- Search Form -----*/
    .search-form-wrap form .form-control {
        height: 55px;
    }
    .search-form-wrap form .form-group button {
        font-size: 18px;
        height: 55px;
    }

    /*----- Calender Section -----*/
    .calendar-wrapper .content-sec p {
        margin-bottom: 30px;
    }
    .calendar-wrapper .content-sec h4 {
        margin-bottom: 12px;
        font-size: 20px;
    }
    .subscription-sec li a {
        font-size: 16px;
        height: 52px;
        padding: 12px;
        width: 200px;
    }
    .subscription-sec .download svg {
        height: 26px;
        margin-top: 0;
    }

    /*----- Approved Section -----*/
    .approve-wrap li a {
        font-size: 17px;
        height: 48px;
        padding: 10px;
        width: 210px;
    }
    .grid-item-wrapper .grid-content h5 {
        font-size: 13px;
    }
    .grid-item-wrapper .grid-content h5 a {
        padding: 15px;
    }
    /*----- Software Assistance -----*/
    .get-in-touch-form h3,
    .detail-single-wrapper .section-title h3,
    .federation-wrapper .section-title h3 {
        font-size: 30px;
    }
    .assistance-wrap .get-in-touch-form {
        padding: 30px;
    }
    .get-in-touch-form .form-group button {
        font-size: 17px;
        height: 55px;
        width: 200px;
    }

    /*----- Popups -----*/
    .form-wrap .modal-content .modal-body h3 {
        font-size: 30.18px;
    }
    .form-wrap .modal-content .modal-body .form-control {
        height: 48px;
    }
    .form-wrap .modal-body form input[type="button"] {
        font-size: 20px;
        height: 58px;
        margin: 30px auto;
        width: 190px;
    }
    .modal-dialog.form-wrap {
        max-width: 630px;
    }
    .form-wrap .modal-content {
        padding: 55px 60px;
    }

    /*----- Pay & Win -----*/
    .pay-and-win-wrap .container {
        width: 60%;
    }
    .pay-and-win-wrap .pay-content-sec .move {
        font-size: 18px;
        height: 58px;
        padding: 15px;
        width: 300px;
    }
    .pay-and-win-wrap .pay-content-sec svg {
        height: 25px;
        width: 25px;
    }

    /*----- Contact Us -----*/
    .contact-information .contact-info li {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .contact-information .contact-info li span {
        font-size: 18px;
    }
    .contact-information .icon svg {
        height: 24px;
        width: 24px;
    }
    .contact-information .contact-info {
        width: 450px;
    }
    .contact-information .get-in-touch-form {
        width: 600px;
    }
    .contact-information .contact-info-sec {
        width: 91%;
    }

    /*----- Commision Section -----*/
    .commissions-wrapper li a {
        font-size: 16px;
    }
    .detail-single-wrapper .grid-item .content-sec h4 {
        font-size: 18px;
    }
    .detail-single-wrapper .grid-item .content-sec h4:nth-child(2) {
        margin-bottom: 15px;
    }
    .detail-single-wrapper .grid-item .contact-info span,
    .detail-single-wrapper .grid-item .contact-info span a {
        margin-bottom: 2px;
    }

    /*----- About Us Section -----*/
    .about-vision-wrap .our-vision-wrap,
    .about-vision-wrap .our-mission-wrap {
        width: 600px;
    }

    /*----- Bids For Events -----*/
    .events-section .special-link a {
        font-size: 16px;
        padding: 14px 20px;
    }
    .events-section .special-link li:first-child {
        margin-right: 20px;
    }
    .events-detail-section .award-wrap .nav a {
        font-size: 20px;
        height: 61px;
        padding: 16px;
        width: 570px;
    }

    /*----- Academies Section -----*/
    .academies-wrap .title-sec h2 {
        font-size: 34px;
    }
    .academies-wrap .title-sec .container {
        width: 75%;
    }
    .acf-academy-sec h3 {
        font-size: 28px;
    }
    .acf-academy-sec,
    .notification-section {
        width: 90%;
    }
    .notification-section h4 {
        font-size: 20px;
    }
    .notification-section {
        margin-bottom: 70px;
    }

    /*----- Modal Section -----*/
    .form-wrap .modal-content .modal-body label {
        font-size: 15px;
    }
    .modal-dialog.form-wrap {
        margin-top: 50px;
    }

    /*----- Interviews Section -----*/
    .interview-tab-wrap .panel-heading h4 a,
    .qus-ans-tab-wrap .panel-heading h4 a,
    .status-tab-wrap .panel-heading h4 a {
        font-size: 18px;
    }
    .interview-tab-wrap .panel-heading h4,
    .qus-ans-tab-wrap .panel-heading h4,
    .status-tab-wrap .panel-heading h4 {
        padding: 7px 25px 12px;
    }
    .interview-tab-wrap .panel-heading h4 a i,
    .qus-ans-tab-wrap .panel-heading h4 a i,
    .status-tab-wrap .panel-heading h4 a i {
        width: 52px;
        font-size: 20px;
        padding: 15px;
    }
    .interview-tab-wrap .panel-heading,
    .qus-ans-tab-wrap .panel-heading,
    .status-tab-wrap .panel-heading {
        margin-bottom: 13px;
    }

    /*----- Rules Of Chess -----*/
    .rules-of-chess-wrapper .row {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    /*----- Federation Section -----*/
    .federation-wrapper .federation-tab-sec .nav a {
        height: 78px;
        width: 310px;
    }
    .federation-wrapper .federation-tab-sec .nav a h4,
    .after-login-section .login-wrap > .nav a h4 {
        font-size: 20px;
    }
    .federation-wrapper .federation-tab-sec .nav a.active::after {
        border-width: 39px;
        margin-top: -39px;
        right: 67px;
    }
    .detail-single-wrapper .grid-item .img-sec {
        margin-right: 40px;
    }
    /*----- After Login -----*/
    .after-login-section .login-wrap > .nav a {
        height: 55px;
        width: 275px;
    }

    .after-login-section .login-wrap > .nav a.active::after {
        border-width: 29px;
        margin-top: -27px;
        top: 42%;
        right: 66px;
    }
    .after-login-section .tab-content .nav a {
        font-size: 20px;
        height: 60px;
        padding: 14px;
        width: 370px;
    }
    .browse-file-sec .form_group input[type="text"],
    .browse-file-sec .form_group .selectpicker {
        height: 50px;
        padding: 10px 15px;
    }
    .browse-file-sec .form_group .browse {
        font-size: 14px;
        height: 49px;
    }
    .browse-file-sec button {
        height: 60px;
        width: 220px;
        font-size: 18px;
    }

    /*----- Board Member Section -----*/
    .board-member .content-sec span,
    .board-member .content-sec h4 {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .board-member .content-sec a {
        font-size: 14px;
        margin-bottom: 4px;
    }

    /*----- Federation Section ------*/
    .federation-wrapper .federation-tab-sec .nav-tabs {
        width: 35%;
    }
    .federation-wrapper .federation-tab-sec .tab-content {
        width: 65%;
    }
    .federation-wrapper .federation-tab-sec .nav a.active::after {
        right: 10px;
    }

    /*----- Results Page ------*/
    .records-wrap .table thead tr th {
        font-size: 18px;
    }
}
